ul {
    text-align: left;
    /*text-align: justify;*/
}

li {
    margin-top: 10px;
}

li:hover {
    color: black;
    font-size: 1em;
}

li:active {
    font-size: 1em;
}

li:focus {
    font-size: 1em;
}

li:visited {
    font-size: 1em;
}

.nav-link:hover {
    color: #003c78;
}
