.navbar {
    background-color: #fff;
}

.search__input {
    border-radius: 100px 0px 0px 100px;
    height: 50px;
}

.Rechercherbtn {
    border-radius: 0px 100px 100px 0px;
    height: 50px;
    width: max-content;
    background-color: #003c78;
    color: #fff;
}

.no__padding {
    padding: 0px;
}

.logo__image {
    border-radius: 100px;
    cursor: pointer;
}

.shoping__basket {
    width: 40px;
}

.baket__item {
    position: relative;
}

.baket__item span {
    position: absolute;
    background-color: #003c78;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    left: 23px;
}
p:hover{
    color: black;
}
