.navbar {
    background-color: #fff;
}

.search__bar {
    width: 500px;
}

.search__input {
    border-radius: 100px 0px 0px 100px;
    height: 50px;
    width:100%;
}

.Rechercherbtn {
    border-radius: 0px 100px 100px 0px;
    height: 50px;
    width: 100%;
    background-color: #003c78;
    color: #FFF;
}

.no__padding {
    padding: 0px;
}
