.navbar__bar {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center__container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
}

.rigth__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  display: none;
}

.basket__container{
    margin-right:20px;
}

.search__input {
    border-radius: 100px 0px 0px 100px;
    height: 50px;
    width: 100%;

}

.Rechercherbtn {
    border-radius: 0px 100px 100px 0px;
    height: 51px;
    width: max-content;
    background-color: #003c78;
    color: #fff;
}

.no__padding {
    padding: 0px;
}

.logo__image {
    border-radius: 100px;
    cursor: pointer;
}

.shoping__basket {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.user__profil{
    display: flex;
    width: 40px;
    margin-left: 80px;
}

.baket__item {
    position: absolute;

}

.baket__item span {
    position: absolute;
    background-color: #003c78;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: white;
    font-size: 12px;
    font-weight: bold;
    left: 23px;
}

p:hover {
    color: black;
}

.search-bar {
    position: relative;
}

.search-item-container {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 10;
    background: white;
}

.seach-item {
    padding: 10px;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.reponsive__container{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10px;
}

.menu__icon{
    display: none;
}


@media screen and (min-width: 200px) and (max-width: 650px) {
    .header {
        display: flex;
        padding: 0px;
    }

    .logo__image {
        width: 30px;
    }

    .header .shoping__basket {
        width: 50px;
    }

    .search__input,
    .Rechercherbtn {
        height: 40px;
    }

    .basket__responsive{
        display: flex;
        align-items: flex-end;
        justify-content: end;
        margin-right: -40px;
    }

    .menu__icon{
        display: block;
    }
}
